@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page body */
body {
    min-height: 100vh; /* Garante que o conteúdo mínimo seja a tela inteira */
    overflow-y: auto; /* Permite rolagem vertical */
    background: linear-gradient(to bottom, #4b4545, #363636);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    font-family: Arial, sans-serif, 'JetBrains Mono', monospace;
}

/* Main container */
.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Profile picture */
.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #777777;
}

/* Name */
.name {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
}

/* Description */
.description {
    font-size: 16px;
    opacity: 0.8;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Links container */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

/* Links */
.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

/* Link button styling */
.link {
    background: linear-gradient(to bottom, #999999, #777777);
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    transition: 0.3s;
}

.link:hover {
    background-color: #525252;
    transform: scale(1.05);
}